# Dependencies
/node_modules

# Build
/dist
/.next
/out
/public

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Cache
.cache
.npm

# Coverage
/coverage

# Misc
*.pem

/node_modules